    <% if @comments %>
     <% @comments.each do |comment| %>
      <h5>Comment id = <%= comment.id %></h5>
      <p> <%= comment.body %> </p>
      <% if can? :destroy, comment %>
        <%= link_to "Delete", [@topic, @post, comment], method: :delete %>
      <% end %>
     <% end %>
    <% end %> 